body{
    background-image: url(yuri.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size:cover;

}
.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(245, 11, 11, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .navbar a {
    color: #f2ecec;
    text-decoration: none;
    margin: 0 9px;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: hotpink;
  }
  
  .hero-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  }
  .container {
    background-color: brown;
    color: white;
    padding: 15px;
    border-radius: 8px;
    line-height: 1.6;
    width: 600px;
    position: absolute;
    top: 200px;
    right: 100px;
}


.container h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(18, 15, 15);
    font-family: "Times New Roman", serif;
    text-align:center;
}